### Importing packages

In [19]:
import os
import glob
import nltk
import pandas as pd
import numpy as np

### Labling Data For All Organizations

In [3]:
# 1- For Guilford County data 
GC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\GuilfordCounty_original_data.csv', engine='python')
GC_df = GC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
GC_df.insert(2, "organization", "Guilford County")


# 2- For Charlotte City data
CC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\CharlotteCity_original_data.csv', engine='python')
CC_df = CC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
CC_df.insert(2, "organization", "Charlotte City")

# 3- For Durham City data
DCity_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\DurhamCity_original_data.csv', engine='python')
DCity_df = DCity_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
DCity_df.insert(2, "organization", "Durham City")

# 4- For Durham County data
DCounty_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\DurhamCounty_original_data.csv', engine='python')
DCounty_df = DCounty_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
DCounty_df.insert(2, "organization", "Durham County")

# 5- For Mecklenburg County data
MC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\MecklenburgCounty_original_data.csv', engine='python')
MC_df = MC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
MC_df.insert(2, "organization", "Mecklenburg County")

# 6- For Raleigh City data
RC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\RaleighCity_original_data.csv', engine='python')
RC_df = RC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
RC_df.insert(2, "organization", "Raleigh City")

# 7- For Wake County data
WC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\original\WakeCounty_original_data.csv', engine='python')
WC_df = WC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
WC_df.insert(2, "organization", "Wake County")

### Converting Data Frames into CSV Files

In [4]:
GC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\GuilfordCounty.csv')
CC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\CharlotteCity.csv')
DCity_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\DurhamCity.csv')
DCounty_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\DurhamCounty.csv')
MC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\MecklenburgCounty.csv')
RC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\RaleighCity.csv')
WC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\WakeCounty.csv')

### Setting the Working Directory to Combine Data Files

In [5]:
os.chdir(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed")

### Using glob to Match the Pattern ‘csv’

In [6]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

### Combining All Data Files

In [7]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "CombinedData2019-2020.csv", index=False, encoding='utf-8-sig')

In [8]:
#Change the dirctory back
os.chdir(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\src")

### Reading Data

In [9]:
data = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\2019-2020\structured\processed\CombinedData2019-2020.csv', engine='python')

In [10]:
# listing columns in data frame 
list(data)

['ï»¿Unnamed: 0', 'page_number', 'word', 'organization']

### Dropping a Column Added Upon Combining the Data Files

In [11]:
# alternatively, delete columns using the columns parameter of drop
data = data.drop(columns="ï»¿Unnamed: 0")
data.head()

   page_number         word    organization
0            1     ensuring  Charlotte City
1            1           an  Charlotte City
2            1    equitable  Charlotte City
3            1  sustainable  Charlotte City
4            1          and  Charlotte City

### Adding Year Colunm With A Static Value = 2019-2020

In [12]:
data.insert(3, "year", "2019-2020")
data.head()

   page_number         word    organization       year
0            1     ensuring  Charlotte City  2019-2020
1            1           an  Charlotte City  2019-2020
2            1    equitable  Charlotte City  2019-2020
3            1  sustainable  Charlotte City  2019-2020
4            1          and  Charlotte City  2019-2020

### Step 1: Transform all words into lower case

In [13]:
data['word'] = data['word'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['word'].head(20)

0        ensuring
1              an
2       equitable
3     sustainable
4             and
5       resilient
6       charlotte
7         adopted
8              fy
9          budget
10             fy
11        capital
12     investment
13           plan
14       ensuring
15             an
16      equitable
17    sustainable
18            and
19      resilient
Name: word, dtype: object

### Step 2: Correcting spelling

In [20]:
from textblob import TextBlob
data['word'][:20].apply(lambda x: str(TextBlob(x).correct()))

ModuleNotFoundError: No module named 'textblob'

### Step 3: Lemmatization - Converting all words into their root words

In [ ]:
import spacy as sp
sp = sp.load('en_core_web_sm')

### Step 4: Counting stopwords in data

In [ ]:
from nltk.corpus import stopwords #importing stopwords from nltk
stop = stopwords.words('english') #storing stopwords in variable stop

data['stopwords'] = data['word'].apply(lambda x: len([x for x in x.split() if x in stop])) 
data[['word','stopwords']].head(20)

### Step 5: Removing stop words

In [ ]:
data['word'] = data['word'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['word'].head(20)

### Step 6: Finding term frequency, TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [ ]:
tf1 = (data['word'][:30]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1.head(20)

### Step 7: Finding Inverse Document Frequency (IDF)

In [ ]:
#IDF = log(N/n), where, N is the total number of rows  
#and n is the number of rows in which the word was present.
for i, word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['word'].str.contains(word)])))

tf1.head(20)

### Step 8: Term Frequency – Inverse Document Frequency (TF-IDF)

In [ ]:
#TF-IDF is the multiplication of the TF and IDF which we calculated above.

tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1.head(20)