In [11]:
import pandas as pd
import numpy as np

In [12]:
GCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\GuilfordCounty_emotion_data.csv")
GCE.drop(['Unnamed: 0'], axis=1,inplace=True)
GCE.shape

(17338, 5)

In [13]:
CCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\CharlotteCity_emotion_data.csv")
CCE.drop(['Unnamed: 0'], axis=1,inplace=True)
CCE.shape

(17010, 5)

In [14]:
RCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\RaleighCity_emotion_data.csv")
RCE.drop(['Unnamed: 0'], axis=1,inplace=True)
RCE.shape

(11410, 5)

In [15]:
DCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\DurhamCity_emotion_data.csv")
DCE.drop(['Unnamed: 0'], axis=1,inplace=True)
DCE.shape

(15410, 5)

In [16]:
DCNTE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\DurhamCounty_emotion_data.csv")
DCNTE.drop(['Unnamed: 0'], axis=1,inplace=True)
DCNTE.shape

(16703, 5)

In [17]:
MCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\MecklenburgCounty_emotion_data.csv")
MCE.drop(['Unnamed: 0'], axis=1,inplace=True)
MCE.shape

(15660, 5)

In [18]:
WCE = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\emotion\WakeCounty_emotion_data.csv")
WCE.drop(['Unnamed: 0'], axis=1,inplace=True)
WCE.shape

(21389, 5)

In [19]:
GCE.describe()

        page_number    sent_count
count  17338.000000  17338.000000
mean     217.690852      1.635310
std      128.187342      1.654592
min        2.000000      1.000000
25%      122.000000      1.000000
50%      207.000000      1.000000
75%      304.000000      2.000000
max      495.000000     46.000000

In [20]:
CCE.describe()

        page_number    sent_count
count  17010.000000  17010.000000
mean     232.655673      1.601764
std      148.605213      1.607941
min        1.000000      1.000000
25%      104.000000      1.000000
50%      217.000000      1.000000
75%      361.000000      2.000000
max      497.000000     37.000000

In [21]:
RCE.describe()

        page_number    sent_count
count  11410.000000  11410.000000
mean     153.664943      1.917178
std       92.322943      2.450791
min        1.000000      1.000000
25%       78.000000      1.000000
50%      153.000000      1.000000
75%      226.000000      2.000000
max      316.000000     45.000000

In [22]:
DCE.describe()

       page_number    sent_count
count  15410.00000  15410.000000
mean     185.73608      1.623232
std      107.73252      1.486402
min        1.00000      1.000000
25%       94.00000      1.000000
50%      198.00000      1.000000
75%      267.00000      2.000000
max      398.00000     29.000000

In [23]:
DCNTE.describe()

        page_number    sent_count
count  16703.000000  16703.000000
mean     165.013111      1.794348
std       95.378222      2.134286
min        1.000000      1.000000
25%       87.000000      1.000000
50%      166.000000      1.000000
75%      246.000000      2.000000
max      323.000000     43.000000