In [9]:
import pandas as pd
import numpy as np

In [13]:
GC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\GuilfordCounty_original_data.csv")
GC.drop(['Unnamed: 0'], axis=1,inplace=True)
GC.size
GC.shape

(94559, 2)

In [20]:
CC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\CharlotteCity_original_data.csv")
CC.drop(['Unnamed: 0'], axis=1,inplace=True)
GC.size
GC.shape

In [21]:
RC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\RaleighCity_original_data.csv")
RC.drop(['Unnamed: 0'], axis=1,inplace=True)
RC.shape

(72573, 2)

In [22]:
DC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\DurhamCity_original_data.csv")
DC.drop(['Unnamed: 0'], axis=1,inplace=True)
DC.shape

(81524, 2)

In [23]:
DCNT = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\DurhamCounty_original_data.csv")
DCNT.drop(['Unnamed: 0'], axis=1,inplace=True)
DCNT.shape

(97576, 2)

In [24]:
MC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\MecklenburgCounty_original_data.csv")
MC.drop(['Unnamed: 0'], axis=1,inplace=True)
MC.shape

(84235, 2)

In [26]:
WC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\WakeCounty_original_data.csv")
WC.drop(['Unnamed: 0'], axis=1,inplace=True)
WC.shape

(122016, 2)

In [28]:
GC.describe()

        page_number
count  94559.000000
mean     220.921033
std      133.722968
min        2.000000
25%      110.000000
50%      213.000000
75%      324.000000
max      495.000000

In [31]:
CC.describe()

         Unnamed: 0   page_number
count  85648.000000  85648.000000
mean   42824.500000    234.281373
std    24724.592265    152.698984
min        1.000000      1.000000
25%    21412.750000     93.000000
50%    42824.500000    226.000000
75%    64236.250000    365.000000
max    85648.000000    498.000000