In [9]:
import pandas as pd
import numpy as np

In [13]:
GC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\GuilfordCounty_original_data.csv")
GC.drop(['Unnamed: 0'], axis=1,inplace=True)
GC.size
GC.shape

(94559, 2)

In [32]:
CC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\CharlotteCity_original_data.csv")
CC.drop(['Unnamed: 0'], axis=1,inplace=True)
CC.size
CC.shape

(85648, 2)

In [33]:
RC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\RaleighCity_original_data.csv")
RC.drop(['Unnamed: 0'], axis=1,inplace=True)
RC.shape

(72573, 2)

In [34]:
DC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\DurhamCity_original_data.csv")
DC.drop(['Unnamed: 0'], axis=1,inplace=True)
DC.shape

(81524, 2)

In [35]:
DCNT = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\DurhamCounty_original_data.csv")
DCNT.drop(['Unnamed: 0'], axis=1,inplace=True)
DCNT.shape

(97576, 2)

In [36]:
MC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\MecklenburgCounty_original_data.csv")
MC.drop(['Unnamed: 0'], axis=1,inplace=True)
MC.shape

(84235, 2)

In [37]:
WC = pd.read_csv(r"C:\Users\akash\Desktop\GIT\Budget_Text_Analysis\util\data\structured\original\WakeCounty_original_data.csv")
WC.drop(['Unnamed: 0'], axis=1,inplace=True)
WC.shape

(122016, 2)

In [38]:
GC.describe()

        page_number
count  94559.000000
mean     220.921033
std      133.722968
min        2.000000
25%      110.000000
50%      213.000000
75%      324.000000
max      495.000000

In [39]:
CC.describe()

        page_number
count  85648.000000
mean     234.281373
std      152.698984
min        1.000000
25%       93.000000
50%      226.000000
75%      365.000000
max      498.000000

In [40]:
RC.describe()

        page_number
count  72573.000000
mean     162.375815
std       90.118814
min        1.000000
25%       85.000000
50%      171.000000
75%      231.000000
max      317.000000

In [41]:
DC.describe()

        page_number
count  81524.000000
mean     192.937393
std      108.890666
min        1.000000
25%      108.000000
50%      202.000000
75%      276.000000
max      398.000000

In [42]:
DCNT.describe()

        page_number
count  97576.000000
mean     161.767474
std       94.198533
min        1.000000
25%       78.000000
50%      158.000000
75%      243.000000
max      323.000000

In [43]:
MC.describe()

        page_number
count  84235.000000
mean     260.653505
std      171.952653
min        1.000000
25%       98.000000
50%      252.000000
75%      416.000000
max      537.000000

In [44]:
WC.describe()

         page_number
count  122016.000000
mean      246.660463
std       144.223414
min         1.000000
25%       113.000000
50%       242.000000
75%       375.000000
max       498.000000