### Importing packages

In [114]:
import os
import glob
import matplotlib.pyplot as plt
import nltk
import pandas as pd
import numpy as np

### Labling Data For All Organizations

In [115]:
# 1- For Guilford County data 
GC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\GuilfordCounty_original_data.csv', engine='python')
GC_df = GC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
GC_df.insert(2, "organization", "Guilford County")


# 2- For Charlotte City data
CC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\CharlotteCity_original_data.csv', engine='python')
CC_df = CC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
CC_df.insert(2, "organization", "Charlotte City")

# 3- For Durham City data
DCity_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\DurhamCity_original_data.csv', engine='python')
DCity_df = DCity_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
DCity_df.insert(2, "organization", "Durham City")

# 4- For Durham County data
DCounty_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\DurhamCounty_original_data.csv', engine='python')
DCounty_df = DCounty_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
DCounty_df.insert(2, "organization", "Durham County")

# 5- For Mecklenburg County data
MC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\MecklenburgCounty_original_data.csv', engine='python')
MC_df = MC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
MC_df.insert(2, "organization", "Mecklenburg County")

# 6- For Raleigh City data
RC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\RaleighCity_original_data.csv', engine='python')
RC_df = RC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
RC_df.insert(2, "organization", "Raleigh City")

# 7- For Wake County data
WC_df = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\original\WakeCounty_original_data.csv', engine='python')
WC_df = WC_df.drop(columns="Unnamed: 0")
# inserting column with static value in data frame 
WC_df.insert(2, "organization", "Wake County")

### Converting Data Frames into CSV Files

In [116]:
GC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\GuilfordCounty.csv')
CC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\CharlotteCity.csv')
DCity_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\DurhamCity.csv')
DCounty_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\DurhamCounty.csv')
MC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\MecklenburgCounty.csv')
RC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\RaleighCity.csv')
WC_df.to_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\WakeCounty.csv')

### Setting the Working Directory to Combine Data Files

In [117]:
os.chdir(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed")

### Using glob to Match the Pattern ‘csv’

In [118]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

### Combining All Data Files

In [119]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "CombinedData2019-2020.csv", index=False, encoding='utf-8-sig')

In [120]:
#Change the dirctory back
os.chdir(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\src")

### Reading Data

In [121]:
data = pd.read_csv(r'C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\processed\CombinedData2019-2020.csv', engine='python')

In [122]:
# listing columns in data frame 
list(data)

['ï»¿Unnamed: 0', 'page_number', 'word', 'organization']

### Dropping a Column Added Upon Combining the Data Files

In [123]:
# alternatively, delete columns using the columns parameter of drop
data = data.drop(columns="ï»¿Unnamed: 0")
data.head()

   page_number         word    organization
0            1     ensuring  Charlotte City
1            1           an  Charlotte City
2            1    equitable  Charlotte City
3            1  sustainable  Charlotte City
4            1          and  Charlotte City

### Adding Year Colunm With A Static Value = 2019-2020

In [125]:
data.insert(3, "year", "2019-2020")
data.head()

   page_number         word    organization       year
0            1     ensuring  Charlotte City  2019-2020
1            1           an  Charlotte City  2019-2020
2            1    equitable  Charlotte City  2019-2020
3            1  sustainable  Charlotte City  2019-2020
4            1          and  Charlotte City  2019-2020

### Step 1: Transform all words into lower case

In [126]:
data['word'] = data['word'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['word'].head(20)

0        ensuring
1              an
2       equitable
3     sustainable
4             and
5       resilient
6       charlotte
7         adopted
8              fy
9          budget
10             fy
11        capital
12     investment
13           plan
14       ensuring
15             an
16      equitable
17    sustainable
18            and
19      resilient
Name: word, dtype: object

### Step 2: Correcting spelling

In [127]:
from textblob import TextBlob
data['word'][:20].apply(lambda x: str(TextBlob(x).correct()))

0        ensuring
1              an
2       equitable
3     sustainable
4             and
5        resident
6       charlotte
7         adopted
8              by
9          budget
10             by
11        capital
12     investment
13           plan
14       ensuring
15             an
16      equitable
17    sustainable
18            and
19       resident
Name: word, dtype: object

### Step 3: Lemmatization - Converting all words into their root words

In [134]:
import spacy as sp
sp = sp.load('en_core_web_sm')

ModuleNotFoundError: No module named 'spacy'

### Step 4: Counting stopwords in data

In [129]:
from nltk.corpus import stopwords #importing stopwords from nltk
stop = stopwords.words('english') #storing stopwords in variable stop

data['stopwords'] = data['word'].apply(lambda x: len([x for x in x.split() if x in stop])) 
data[['word','stopwords']].head(20)

           word  stopwords
0      ensuring          0
1            an          1
2     equitable          0
3   sustainable          0
4           and          1
5     resilient          0
6     charlotte          0
7       adopted          0
8            fy          0
9        budget          0
10           fy          0
11      capital          0
12   investment          0
13         plan          0
14     ensuring          0
15           an          1
16    equitable          0
17  sustainable          0
18          and          1
19    resilient          0

### Step 5: Removing stop words

In [130]:
data['word'] = data['word'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['word'].head(20)

0        ensuring
1
2       equitable
3     sustainable
4
5       resilient
6       charlotte
7         adopted
8              fy
9          budget
10             fy
11        capital
12     investment
13           plan
14       ensuring
15
16      equitable
17    sustainable
18
19      resilient
Name: word, dtype: object

### Step 6: Finding term frequency, TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [131]:
tf1 = (data['word'][:30]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1.head(20)

          words   tf
0      ensuring  2.0
1                4.0
2     equitable  2.0
3   sustainable  2.0
4     resilient  2.0
5     charlotte  2.0
6       adopted  1.0
7            fy  2.0
8        budget  1.0
9       capital  1.0
10   investment  1.0
11         plan  1.0
12        mayor  2.0
13           vi  1.0
14        lyles  1.0
15          pro  1.0
16          tem  1.0
17        julie  1.0
18       eiselt  1.0
19         city  1.0

### Step 7: Finding Inverse Document Frequency (IDF)

In [132]:
#IDF = log(N/n), where, N is the total number of rows  
#and n is the number of rows in which the word was present.
for i, word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['word'].str.contains(word)])))

tf1.head(20)

          words   tf        idf
0      ensuring  2.0   8.844510
1                4.0   0.000000
2     equitable  2.0   9.062234
3   sustainable  2.0   8.656769
4     resilient  2.0  11.169074
5     charlotte  2.0   6.801034
6       adopted  1.0   5.047069
7            fy  2.0   3.887842
8        budget  1.0   4.703621
9       capital  1.0   5.531511
10   investment  1.0   6.966041
11         plan  1.0   5.189907
12        mayor  2.0   8.823004
13           vi  1.0   3.506450
14        lyles  1.0  12.673152
15          pro  1.0   3.540232
16          tem  1.0   5.622596
17        julie  1.0  12.673152
18       eiselt  1.0  12.673152
19         city  1.0   5.195830

### Step 8: Term Frequency – Inverse Document Frequency (TF-IDF)

In [133]:
#TF-IDF is the multiplication of the TF and IDF which we calculated above.

tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1.head(20)

          words   tf        idf      tfidf
0      ensuring  2.0   8.844510  17.689021
1                4.0   0.000000   0.000000
2     equitable  2.0   9.062234  18.124468
3   sustainable  2.0   8.656769  17.313537
4     resilient  2.0  11.169074  22.338149
5     charlotte  2.0   6.801034  13.602068
6       adopted  1.0   5.047069   5.047069
7            fy  2.0   3.887842   7.775683
8        budget  1.0   4.703621   4.703621
9       capital  1.0   5.531511   5.531511
10   investment  1.0   6.966041   6.966041
11         plan  1.0   5.189907   5.189907
12        mayor  2.0   8.823004  17.646008
13           vi  1.0   3.506450   3.506450
14        lyles  1.0  12.673152  12.673152
15          pro  1.0   3.540232   3.540232
16          tem  1.0   5.622596   5.622596
17        julie  1.0  12.673152  12.673152
18       eiselt  1.0  12.673152  12.673152
19         city  1.0   5.195830   5.195830