Importing packages and setting the working directory to combine data files

In [111]:
import os
import glob
import pandas as pd
os.chdir(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\combined")

Using glob to match the pattern ‘csv’

In [112]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

Combining all data files

In [113]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_original.csv", index=False, encoding='utf-8-sig')

Reading Data

In [114]:
#import pandas library
import pandas as pd 
#Reading the data file into pandas list
data = pd.read_csv(r"C:\Users\Sultan\Documents\GitHub\Budget_Text_Analysis\util\data\structured\combined\combined_original.csv")

Importing Natural Language Toolkit

In [115]:
import nltk

Step 1: Transform all words into lower case

In [116]:
data['word'] = data['word'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data['word'].head()

0       ensuring
1             an
2      equitable
3    sustainable
4            and
Name: word, dtype: object

Step 2: Correcting spelling

In [117]:
from textblob import TextBlob
data['word'][:5].apply(lambda x: str(TextBlob(x).correct()))

0       ensuring
1             an
2      equitable
3    sustainable
4            and
Name: word, dtype: object

Step 3: Lemmatization - Converting the words into their root words

In [118]:
from textblob import Word
data['word'] = data['word'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['word'].head()

0       ensuring
1             an
2      equitable
3    sustainable
4            and
Name: word, dtype: object

Step 4: Counting stopwords in data

In [119]:
from nltk.corpus import stopwords #importing stopwords from nltk
stop = stopwords.words('english')

data['stopwords'] = data['word'].apply(lambda x: len([x for x in x.split() if x in stop])) 
data[['word','stopwords']].head()

          word  stopwords
0     ensuring          0
1           an          1
2    equitable          0
3  sustainable          0
4          and          1

Step 5: Removing stop words

In [120]:
data['word'] = data['word'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data['word'].head()

0       ensuring
1
2      equitable
3    sustainable
4
Name: word, dtype: object