In [2]:
import pandas as pd
import numpy as np

In [3]:
GC_df = pd.read_csv(r"../util/data/structured/original/GuilfordCounty_original_data.csv")
GC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
GC_df['label']='0'
GC_df.shape
GC_df.head(5)

   page_number      word label
0            2  guilford     0
1            2    county     0
2            2        by     0
3            2       the     0
4            2   numbers     0

In [4]:
CC_df = pd.read_csv(r"../util/data/structured/original/CharlotteCity_original_data.csv")
CC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
CC_df['label']='1'
CC_df.head(5)

   page_number         word label
0            1     ensuring     1
1            1           an     1
2            1    equitable     1
3            1  sustainable     1
4            1          and     1

In [5]:
RC_df = pd.read_csv(r"../util/data/structured/original/RaleighCity_original_data.csv")
RC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
RC_df['label']='2'
RC_df.shape

(72573, 3)

In [6]:
DC_df = pd.read_csv(r"../util/data/structured/original/DurhamCity_original_data.csv")
DC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
DC_df['label']='3'
DC_df.shape

(81524, 3)

In [7]:

DCNT_df = pd.read_csv(r"../util/data/structured/original/DurhamCounty_original_data.csv")
DCNT_df.drop(['Unnamed: 0'], axis=1,inplace=True)
DCNT_df['label']='4'
DCNT_df.shape

(97576, 3)

In [8]:
MC_df = pd.read_csv(r"../util/data/structured/original/MecklenburgCounty_original_data.csv")
MC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
MC_df['label']='5'
MC_df.shape

(84235, 3)

In [9]:
WC_df = pd.read_csv(r"../util/data/structured/original/WakeCounty_original_data.csv")
WC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
WC_df['label']='6'
WC_df.shape

(122016, 3)

In [10]:
Combined_df = pd.concat([GC_df, CC_df, RC_df, DC_df, DCNT_df, MC_df, WC_df])

In [11]:
Combined_df.size

1914393

In [16]:
Combined_df.head(100)

    page_number        word label
0             2    guilford     0
1             2      county     0
2             2          by     0
3             2         the     0
4             2     numbers     0
5             2        what     0
6             2       makes     0
7             2          us     0
8             2       count     0
9             2      county     0
10            2          ou     0
11            2          ou     0
12            2          un     0
13            2         unt     0
14            2         nty     0
15            2          st     0
16            2           n     0
17            2           s     0
18            2       staff     0
19            2          ta     0
20            2         taf     0
21            2          af     0
22            2    rerready     0
23            2           e     0
24            2          ea     0
25            2         ead     0
26            2          ad     0
27            2         and     0
28            2          nd     0
29            2      cities     0
..          ...         ...   ...
70            2    services     0
71            2     percent     0
72            2          of     0
73            2         ems     0
74            2       calls     0
75            2   responded     0
76            2          to     0
77            2          in     0
78            2     minutes     0
79            2          or     0
80            2        less     0
81            2        from     0
82            2        time     0
83            2          of     0
84            2    dispatch     0
85            2     percent     0
86            2          of     0
87            2  population     0
88            2    eligible     0
89            2         for     0
90            2    medicaid     0
91            2      minute     0
92            2     average     0
93            2          le     0
94            2    response     0
95            2        time     0
96            2        live     0
97            2      births     0
98            2          in     0
99            2        from     0

[100 rows x 3 columns]

In [17]:
Combined_df.shape

(638131, 3)

In [18]:
Combined_df.describe()

         page_number
count  638131.000000
mean      213.602262
std       137.058241
min         1.000000
25%       100.000000
50%       203.000000
75%       305.000000
max       537.000000

In [19]:
Combined_df.to_csv("Combined_Counties.csv", sep='\t', encoding='utf-8')

In [21]:
Combined_df['word']

0                guilford
1                  county
2                      by
3                     the
4                 numbers
5                    what
6                   makes
7                      us
8                   count
9                  county
10                     ou
11                     ou
12                     un
13                    unt
14                    nty
15                     st
16                      n
17                      s
18                  staff
19                     ta
20                    taf
21                     af
22               rerready
23                      e
24                     ea
25                    ead
26                     ad
27                    and
28                     nd
29                 cities
               ...
121986           internal
121987            service
121988               fund
121989              board
121990                 of
121991             county
121992      commissioners
121993          corporate
121994              fleet
121995               fund
121996              goals
121997         objectives
121998        initiatives
121999               wake
122000             county
122001         government
122002     organizational
122003              chart
122004                  n
122005    nondepartmental
122006               wake
122007             county
122008         government
122009     organizational
122010              chart
122011              index
122012             fiscal
122013               year
122014            adopted
122015             budget
Name: word, Length: 638131, dtype: object

In [22]:
Combined_df['page_number']

0           2
1           2
2           2
3           2
4           2
5           2
6           2
7           2
8           2
9           2
10          2
11          2
12          2
13          2
14          2
15          2
16          2
17          2
18          2
19          2
20          2
21          2
22          2
23          2
24          2
25          2
26          2
27          2
28          2
29          2
         ...
121986    498
121987    498
121988    498
121989    498
121990    498
121991    498
121992    498
121993    498
121994    498
121995    498
121996    498
121997    498
121998    498
121999    498
122000    498
122001    498
122002    498
122003    498
122004    498
122005    498
122006    498
122007    498
122008    498
122009    498
122010    498
122011    498
122012    498
122013    498
122014    498
122015    498
Name: page_number, Length: 638131, dtype: int64

In [35]:
Combined_df['word_count'] = Combined_df['word'].str.len() ## this also includes spaces
Combined_df[['word','word_count', 'label']].sort_values('word_count', ascending=False)

                                                     word  word_count label
75694   httpschildandfamilypolicydukeeduwpcontentuploa...          88     4
78633   httpwwwgotriangleorggolocalpartnersdurhamareat...          77     3
79334   httpdurhamncgovfacilitiesfacilitydetailswestpo...          57     3
78490        httpwwwdurhambullscomstadiumathleticparkhtml          44     3
8062            httpsdurhamncgovcapitalimprovementplancip          41     3
76635                wwwrtporglocationfidelityinvestments          36     3
57200                 industrialmanufacturingagricultural          35     2
84488                  httpaccessncnccommercecomindexhtml          34     0
11712                   httpwwwdconcgovhomeshowdocumentid          33     4
91713                    educationalassemblyinstitutional          32     0
78049                    httpwwwnchistoricsitesorgbennett          32     3
91706                     educationalassembyinstitutional          31     0
27205                     restitutionrestitutioncommunity          31     0
71676                     httpsdurhamncgovciplistingsview          31     3
85368                      internationalregionalmunicipal          30     0
46820                      investigationsnarcoticsspecial          30     4
84055                      trainingcertificationlicensing          30     6
34616                      centralizationdecentralization          30     3
47006                      investigationsnarcoticsspecial          30     4
30496                      cassandradeckbrownraleighncgov          30     2
21043                      martinpetherbridgeraleighncgov          30     2
10535                       charlottebusinessresourcescom          29     1
77984                       httpsamericantobaccocampuscom          29     3
84332                       httpsncesedgovipedsdatacenter          29     0
78285                       httpwwwnchistoricsitesorgduke          29     3
77405                       intellectuallydevelopmentally          29     6
70909                       transferaddreplaceduplication          29     1
78663                       httpdurhamcentralparkorgvisit          29     3
10583                       charlottebusinessresourcescom          29     1
79183                       httpwwwstreetsatsouthpointcom          29     3
...                                                   ...         ...   ...
460                                                     p           1     1
52804                                                   a           1     5
78012                                                   a           1     5
38415                                                   a           1     2
18233                                                   c           1     2
35913                                                   a           1     5
12839                                                   c           1     6
78106                                                   e           1     5
48625                                                   a           1     6
111021                                                  a           1     6
48631                                                   a           1     6
77827                                                   a           1     4
18860                                                   a           1     4
63958                                                   a           1     0
49228                                                   i           1     2
78090                                                   d           1     5
40314                                                   a           1     4
12840                                                   s           1     6
78070                                                   a           1     5
12841                                                   c           1     6
78084                                                   a           1     5
12842                                                   s           1     6
472                                                     a           1     1
78080                                                   a           1     5
8173                                                    a           1     0
1371                                                    i           1     5
111041                                                  i           1     6
19025                                                   a           1     5
49238                                                   a           1     2
86749                                                   a           1     4

[638131 rows x 3 columns]

In [36]:
Combined_df.size

2552524

In [37]:
Combined_df.ndim

2