In [1]:
import pandas as pd
import numpy as np

In [24]:
GC_df = pd.read_csv(r"../util/data/structured/original/GuilfordCounty_original_data.csv")
GC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
GC_df['label']='0'
GC_df.shape

(94559, 3)

In [25]:
CC_df = pd.read_csv(r"../util/data/structured/original/CharlotteCity_original_data.csv")
CC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
CC_df['label']='1'
CC_df.shape

(85648, 3)

In [26]:
RC_df = pd.read_csv(r"../util/data/structured/original/RaleighCity_original_data.csv")
RC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
RC_df['label']='2'
RC_df.shape

(72573, 3)

In [27]:
DC_df = pd.read_csv(r"../util/data/structured/original/DurhamCity_original_data.csv")
DC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
DC_df['label']='3'
DC_df.shape

(81524, 3)

In [28]:

DCNT_df = pd.read_csv(r"../util/data/structured/original/DurhamCounty_original_data.csv")
DCNT_df.drop(['Unnamed: 0'], axis=1,inplace=True)
DCNT_df['label']='4'
DCNT_df.shape

(97576, 3)

In [31]:
MC_df = pd.read_csv(r"../util/data/structured/original/MecklenburgCounty_original_data.csv")
MC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
MC_df['label']='5'
MC_df.shape

(84235, 3)

In [32]:
WC_df = pd.read_csv(r"../util/data/structured/original/WakeCounty_original_data.csv")
WC_df.drop(['Unnamed: 0'], axis=1,inplace=True)
WC_df['label']='6'
WC_df.shape

(122016, 3)

In [40]:
Combined_df = pd.concat([GC_df, CC_df, RC_df, DC_df, DCNT_df, MC_df, WC_df])

In [41]:
Combined_df.size

1914393

In [42]:
Combined_df.head

<bound method NDFrame.head of         page_number             word label
0                 2         guilford     0
1                 2           county     0
2                 2               by     0
3                 2              the     0
4                 2          numbers     0
5                 2             what     0
6                 2            makes     0
7                 2               us     0
8                 2            count     0
9                 2           county     0
10                2               ou     0
11                2               ou     0
12                2               un     0
13                2              unt     0
14                2              nty     0
15                2               st     0
16                2                n     0
17                2                s     0
18                2            staff     0
19                2               ta     0
20                2              taf     0
21                2               af     0
22                2         rerready     0
23                2                e     0
24                2               ea     0
25                2              ead     0
26                2               ad     0
27                2              and     0
28                2               nd     0
29                2           cities     0
...             ...              ...   ...
121986          498         internal     6
121987          498          service     6
121988          498             fund     6
121989          498            board     6
121990          498               of     6
121991          498           county     6
121992          498    commissioners     6
121993          498        corporate     6
121994          498            fleet     6
121995          498             fund     6
121996          498            goals     6
121997          498       objectives     6
121998          498      initiatives     6
121999          498             wake     6
122000          498           county     6
122001          498       government     6
122002          498   organizational     6
122003          498            chart     6
122004          498                n     6
122005          498  nondepartmental     6
122006          498             wake     6
122007          498           county     6
122008          498       government     6
122009          498   organizational     6
122010          498            chart     6
122011          498            index     6
122012          498           fiscal     6
122013          498             year     6
122014          498          adopted     6
122015          498           budget     6

[638131 rows x 3 columns]>

In [47]:
Combined_df.shape

(638131, 3)

In [45]:
Combined_df.describe()

         page_number
count  638131.000000
mean      213.602262
std       137.058241
min         1.000000
25%       100.000000
50%       203.000000
75%       305.000000
max       537.000000